* {
    box-sizing: border-box;
}


body {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
    background-color: rgb(159, 249, 255);
    font-size: 16px;
   
}

.wrap {
    max-width: 1000px;
    margin: auto;
    background-color: rgb(10, 247, 227);
}

.border {
    border-bottom: solid 1px #ccc;
}


blockquote {
    margin: 50px 0px 30px 50px;
    padding-left: 15px;
    font-family: Arial, Helvetica, sans-serif
    
}

h1 {
    font-family: Roboto, sans-serif !important;
    text-align: center;
    color: ;

}

h2 {
    text-align: center;
    
}

.boxtong {
    max-width: 1000px;
    text-align: center;
}


.box, .box1, .box3 {
    float: left;
    width: 33.3333%;
    text-align: center;
    border: 5px solid #fff;
}
.box4 {
    
    width: 33.333%;
    text-align: center;
    border: 5px solid #fff;
}


.item{
    text-decoration: none;
    text-shadow: none;
}

.banner {
    width: 1000px !important;
}

img {
    width: 100%;
    transition: all ease-in-out 0.5s;

}


img:hover{
    transform: scale(1.5);
}


