<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSS Layout</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <section>
        <div class="wrap">

            <div class="content">

                <div class="main">
                    <h1>Hình 1</h1>
                    <div class="figure1">
                        <p>Height: 400px</p>
                    </div>
                    <div class="figure2">
                        <div class="figure2-1">
                            <p>Height: 200px</p>
                        </div>
                        <div class="figure2-2">
                            <p>Height: 200px</p>
                        </div>
                    </div>

                    <h1>Hình 2</h1>
                    <div>
                        <div class="border1 figure1">
                            <p>Height: 400px</p>
                        </div>
                        <div class="border2 figure2">
                            <div class="figure2-1 p">
                                <p>Height: 200px</p>
                            </div>
                            <div class="figure2-2 p">
                                <p>Height: 200px</p>
                            </div>
                        </div>
                    </div>

                    <h1> Hình 3</h1>
                    <div>
                        <div class="figure3">
                            <p>Height: 400px</p>
                        </div>

                        <div class="figure4">
                            <p>Height: 400px</p>
                        </div>
                        <div class="figure5">
                            <p>Height: 400px</p>
                        </div>

                    </div>

                    <h1> Hình 4</h1>
                    <div>
                        <div class="border3 figure3">
                            <p>Height: 400px</p>
                        </div>

                        <div class="border4 figure4">
                            <p>Height: 400px</p>
                        </div>
                        <div class="border5 figure5">
                            <p>Height: 400px</p>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </section>
</body>

</html>