* {
    box-sizing: border-box;
}


h1{
    color: red;
}



.wrap {
    background-color: rgb(236, 245, 242);
    margin: auto;
    padding: 0;
}


.content {
    padding: 0;
    margin: auto;
    height: 100%;
    width: 100%;
}


.main-figure {
    border: solid white;
    max-width: 100%;
}

.figure1{
    width: 60%;
    height: 400px;
    background-color: red;
    float: left;
    text-align: center;
}


.figure2 {
    width: 40%;
    height: 400px;
    float: left;
    
}

.figure2-1 {
    width: 100%;
    height: 50%;
    background-color: green;  
   
}


.figure2-2 {
    width: 100%;
    height: 50%;
    background-color: blue;
   
}


p {
    margin: auto;
    padding-top: 190px;
    color: #fff;
    text-align: center;
    font-size: 20px;
}

.figure2-1>p {
    margin: auto;
    padding-top: 90px;
    color: #fff;
    font-size: 20px;
    text-align: center;
}

.figure2-2>p {
    margin: auto;
    padding-top: 90px;
    color: #fff;
    text-align: center;
    font-size: 20px;   
}


.border1 {
    border-right: 7.5px solid #fff;
}

.border2 {
    border-left: 7.5px solid #fff;
}



.figure3{
    width: 33.33%;
    height: 400px;
    background-color: red;
    float: left;
    text-align: center;
}

.figure4{
    width: 33.33%;
    height: 400px;
    background-color: green;
     float: left;
}

.figure5{
    width: 33.33%;
    height: 400px;
    background-color: blue;
    float: left;
    text-align: center;
}

.border3 {
    border-right: 7.5px solid white;
}

.border4 {
    border-right: 7.5px solid white;
    border-left: 7.5px solid white;
}

.border5 {
    border-left: 7.5px solid white;
}



