

.menu {
    width: 150px;
    padding: 5px;
    position: absolute;
    top: 0;
    background-color: #25CCF7;
    text-decoration: none;    
}

.menu-item{
    text-decoration: none;
    color: #fff;
}

ul {
    text-transform: uppercase;
    text-decoration: none;
    padding: 0;
    width: 100%;
    padding: 10px 5px;

}

li {
    max-width: 150px;
    list-style: none;
    padding: 10px 5px;
    height: 100%;
}



a:hover {
    color: rgb(201, 230, 42);
}

img:hover{
    color: #4cd137;
}
* {
    box-sizing: border-box;
}