

.menu {
    width: 150px;
    max-width: 20%;
    padding: 5px;
    position: absolute;
    top: 0;
    bottom: 50%;
    background-color: rgb(11, 245, 11);
}



ul {
    text-transform: uppercase;
    text-decoration: none;
    padding: 0;
    width: 100%;
}

ul, li {
    max-width: 150px;
    list-style: none;
    padding: 10px 5px;
    height: 100%;
}


a:hover {
    color: rgb(201, 230, 42);
}

img:hover{
    color: yellow;
}
* {
    box-sizing: border-box;
}